[
    [
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Player,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Box,
        Target,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Gate,
        Key,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Empty,
        Wall,
    ],
    [
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
        Wall,
    ],
]