(
    meta: (
        id: 0,
        name: "Untitled",
        author: "Unknown",
        difficulty: 1,
        par_steps: None,
        tags: [],
        description: "",
    ),
    scene_theme: "default",
    grid: None,
    ascii: Some([
        "# # # # # # # # # # # # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# . . . . . . . . . . # ",
        "# # # # # # # # # # # # ",
    ]),
)